@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Albert Sans', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #000000;
  --light-dark: #777575;
  --hover-dark: #3f3f3f;
}

html, body, #root {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}

h1{
  font: 600 2.5rem/3.5rem 'Albert Sans';
  margin: 0px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
}

.homepage-container{
  flex: 1;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.homepage-icon{
  width: 88px;
  height: 88px;
}

.homepage-cta{
  font: 500 1rem/2rem 'Albert Sans';
  color: var(--dark);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.homepage-cta:hover{
  color: var(--hover-dark);
}

.shop-container{
  display: flex;
  justify-content: center;
  padding: 48px 32px;
}

.shop-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  width: 100%;
  max-width: 1600px;
  gap: 24px;
}

.item{
  display: flex;
  gap: 56px;
}

.item-container{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 32px;
}

.item-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.item-info{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-image{
  width: 100%;
  max-width: 560px;
  aspect-ratio: 1/1;
  padding: 16px;
  box-sizing: border-box;
  object-fit: scale-down;
  background-color: #f5f5f5;
  border-radius: 2px;
}

@media (max-width: 880px) {
  .item{
    flex-direction: column;
    gap: 16px;
  }

  .item-container{
    padding: 16px;
  }

  .item-info-container{
    gap: 32px;
    max-width: none;
  }

  .item-info{
    gap: 16px;
    width: 100%;
  }

  .item-image{
    max-width: none;
  }
}